.htaccess.restore
/.idea/*
/bitrix/*
/upload/*
/web.config
.DS_Store
Thumbs.db
404.php
test.php
urlrewrite.php
web.config
dev.php
!/bitrix/templates/market_fullscreen/
!/bitrix/
/bitrix/fonts/
/bitrix/js/
/bitrix/php_interface/
/bitrix/panel/
/bitrix/modules/
/bitrix/gadgets/
/bitrix/image_uploader/
/bitrix/images/
/bitrix/css/
/bitrix/services/
/bitrix/sounds/
/bitrix/components/
/bitrix/admin/
/bitrix/otp/
/bitrix/templates/.default/
/bitrix/themes/
/bitrix/tools/
/bitrix/wizards/
/bitrix/web.config
/bitrix/header.php
/bitrix/urlrewrite.php
/bitrix/index.php
/bitrix/virtual_file_system.php
/bitrix/.settings.php
/bitrix/rss.php
/bitrix/spread.php
/bitrix/license_key.php
/bitrix/p3p.xml
/bitrix/coupon_activation.php
/bitrix/.access.php
/bitrix/footer.php
!/bitrix/admin/reports/*
!/bitrix/tools
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.log
*.min.min.*

!/bitrix/.settings.php
!/bitrix/php_interface/dbconn.php
!/bitrix/php_interface/after_connect.php
!/bitrix/php_interface/after_connect_d7.php