.bxr-brand-list-v1 {
    display: block;
    font-size: 13px;
    border-right: 1px solid #e5e5e5;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFF;
}

.bxr-brand-item:last-child .bxr-brand-list-v1 {
    border: none;
}

.bxr-brand-list-v1 .bxr-element-container {
    display: block;
}

.bxr-brand-list-v1 .bxr-element-image {
    max-width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 50px;
    min-height: 50px;
}
.bxr-brand-list-v1 .bxr-element-image img {
    max-width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    margin: 0 auto;
    display: inline;
    opacity: 0.5;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.bxr-brand-list-v1:hover .bxr-element-image img {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;
}